<div class="main-wrapper" id="page-about">
    <div id="content-about">
        <div class="content container">
            <h2  class="title-h2 text-center bottom-39">{% t about.our_vision %}</h2>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p class="text-center">{% t about.content %}</p>
                </div>
            </div>
        </div>
        <div class="wave-about">
           <div class="keyart" id="parallax">
            <div data-direct="right" class="keyart_layer parallax" id="about-wave-1" data-speed="100" style="transform: translate3d(0px, 0px, 0px)"></div>
            <div data-direct="right"  class="keyart_layer parallax" id="about-wave-2" data-speed="300" style="transform: translate3d(0px, 0px, 0px)"></div>
            <div data-direct="right"  class="keyart_layer parallax" id="about-wave-3" data-speed="150" style="transform: translate3d(0px, 0px, 0px)"></div>
            <div data-direct="right"  class="keyart_layer parallax" id="about-wave-4" data-speed="450" style="transform: translate3d(0px, 0px, 0px)"></div>
            <!-- <div data-direct="right"  class="keyart_layer parallax" id="about-wave-5" data-speed="300" style="transform: translate3d(0px, 0px, 0px)"></div> -->
        </div>
    </div>
</div>

<div id="roadmap">
    <div class="dont-skew-wrap">
        <div class="dont-skew">
            <div class="content">
                <div class="container">
                    <h3 class="title-h3 text-center">{% t about.our_team %}</h3>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <p class="fdescription max-inherit text-center marginbttom80">{% t about.our_team_content %}</p>
                    </div>
                </div>
            </div>
            <div class="container-width">
                <div class="group-member">
                    <h3 class="title-h3 text-center">{% t about.development %}</h3>
                    <div class="row member-list">




	 					<div class="row">
	                        <div class="col-md-4 col-sm-4 col-xs-12 "></div>

	                        <div class="col-md-4 col-sm-4 col-xs-12 list text-center parent-hover member-item">
	                            <a class="block-hover">
	                                <img alt="ohad" src="{{ site.url }}/assets/images/ohad.png" />
	                            </a>
	                            <h5 class="text-center">Ohad Asor</h5>
	                            <p class="role text-center">{% t about.team_carrier_ohad %}</p>
	                            <div class="content-hover ">
	                                 <div class="arrow_box">{% t about.team_content_ohad %}</div>
	                            </div>
	                             <a class="text-center icon-social block" ><i class="fa fa-envelope" aria-hidden="true"></i> ohad@idni.org</a>
	                            <a class="text-center icon-social"  target="_blank" href="https://www.linkedin.com/in/ohadasor/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	                            
	                        </div>
	                        <div class="col-md-4 col-sm-4 col-xs-12 "></div>
	                    </div>



	                    <div class="row">
	                    	<div class="col-md-4 col-sm-4 col-xs-12  list text-center parent-hover member-item">
	                            <a class="block-hover"><img alt="juan" src="{{ site.url }}/assets/images/tomas.png" /> </a>
	                            <h5 class="text-center">Tomáš Klapka</h5>
	                            <p class="role text-center">{% t about.team_carrier_tomas %}</p>
	                            <div class="content-hover ">
	                                <div class="arrow_box">{% t about.team_content_tomas %}</div>
	                            </div>
	                            <a class="text-center icon-social" target="_blank" href="https://www.linkedin.com/in/klapka/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	                        </div>

	                        <div class="col-md-4 col-sm-4 col-xs-12  list text-center parent-hover member-item">
	                            <a class="block-hover"><img alt="juan" src="{{ site.url }}/assets/images/dragan.png" /> </a>
	                            <h5 class="text-center">Dragan Krunic</h5>
	                            <p class="role text-center">{% t about.team_carrier_dragan %}</p>
	                            <div class="content-hover ">
	                                <div class="arrow_box">{% t about.team_content_dragan %}</div>
	                            </div>
	                            
	                        </div>

	                        <div class="col-md-4 col-sm-4 col-xs-12  list text-center parent-hover member-item">
	                            <a class="block-hover"><img alt="juan" src="{{ site.url }}/assets/images/andrei.png" /> </a>
	                            <h5 class="text-center">Andrei Korotkoff</h5>
	                            <p class="role text-center">{% t about.team_carrier_andrei %}</p>
	                            <div class="content-hover ">
	                                <div class="arrow_box">{% t about.team_content_andrei %}</div>
	                            </div>
	                            
	                        </div>
					</div>


                    </div>
                </div>








                <div class="group-member section-2">



                	<h3 class="title-h3 text-center">{% t about.business %}</h3>
                	<div class="row member-list">

						<div class="row">
							<div class="col-md-2 col-sm-2 col-xs-12 "></div>
							<div class="col-md-4 col-sm-4 col-xs-12 list text-center parent-hover member-item">
	                            <a class="block-hover"><img alt="isar" src="{{ site.url }}/assets/images/isar.png" /> </a>
	                            <h5 class="text-center">Isar Flis</h5>
	                            <p class="role text-center">{% t about.team_carrier_isar %}</p>
	                            <div class="content-hover ">
	                                <div class="arrow_box"> {% t about.team_content_isar %}</div>
	                            </div>
	                           
	                            <a class="text-center icon-social block"><i class="fa fa-envelope" aria-hidden="true"></i> isar@idni.org</a>
	                            <a class="text-center icon-social" target="_blank" href="https://www.linkedin.com/in/isarflis/"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
	                        </div>

	                         <div class="col-md-4 col-sm-4 col-xs-12  list text-center parent-hover member-item">
	                            <a class="block-hover"><img alt="juan" src="{{ site.url }}/assets/images/fola.png" /> </a>
	                            <h5 class="text-center">Fola Adejumo</h5>
	                            <p class="role text-center">{% t about.team_carrier_fola %}</p>
	                            <div class="content-hover ">
	                                <div class="arrow_box">{% t about.team_content_fola %}</div>
	                            </div>
	                            <a class="text-center icon-social" target="_blank" href="https://www.linkedin.com/in/fola-adejumo-48241520/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	                        </div>
	                        <div class="col-md-2 col-sm-2 col-xs-12 "></div>
						</div>
					</div>


				</div>



























                <div class="group-member section-2">
                    <h3 class="title-h3 text-center">{% t about.advisers %} </h3>
                    <div class="row member-list">
                        <div class="col-md-4 col-sm-4 col-xs-12  list text-center parent-hover member-item">
                            <a class="block-hover" ><img alt="douglas" src="{{ site.url }}/assets/images/douglas.png" />
                            </a>
                            <h5 class="text-center">Douglas Miles</h5>
                            <p class="role text-center">{% t about.team_carrier_douglas %}</p>
                            <div class="content-hover douglas">
                                <div class="arrow_box">{% t about.team_content_douglas %}</div>
                            </div>
                            <a class="text-center icon-social" target="_blank"  href="https://www.linkedin.com/in/logicmoo/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 list text-center parent-hover member-item">
                            <a class="block-hover">
                                <img alt="georgi" src="{{ site.url }}/assets/images/georgi.png" />
                            </a>
                            <h5 class="text-center">Georgi Karov</h5>
                            <p class="role text-center">{% t about.team_carrier_karov %}</p>
                            <div class="content-hover ">
                                <div class="arrow_box">{% t about.team_content_karov %}</div>
                            </div>
                              <a class="text-center icon-social block" ><i class="fa fa-envelope" aria-hidden="true"></i> karov@idni.org</a>
                            <a class="text-center icon-social" target="_blank" href="https://www.linkedin.com/in/georgi-karov-49486922/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                           
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12  list text-center parent-hover member-item">
                            <a class="block-hover"><img alt="felix" src="{{ site.url }}/assets/images/felix.png" />

                            </a>
                            <h5 class="text-center">Felix Forster</h5>
                            <p class="role text-center">{% t about.team_carrier_felix %}</p>
                            <div class="content-hover felix">
                                <div class="arrow_box">{% t about.team_content_felix %}</div>
                            </div>
                            <a class="text-center icon-social" target="_blank" href="https://www.linkedin.com/in/felixfoerster/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12  list text-center parent-hover member-item">
                            <a class="block-hover" ><img alt="yann" src="{{ site.url }}/assets/images/yann.png" /> </a>
                            <h5 class="text-center">Yann Wang</h5>
                            <p class="role text-center">{% t about.team_carrier_yann %}</p>
                            <div class="content-hover yann">
                                <div class="arrow_box">{% t about.team_content_yann %}</div>
                            </div>
                            <a class="text-center icon-social" target="_blank" href="https://www.linkedin.com/in/yan-yan-ishere/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12  list text-center parent-hover member-item">
                            <a class="block-hover" ><img alt="ethan" src="{{ site.url }}/assets/images/ethan.png" /> </a>
                            <h5 class="text-center">Ethan Chen</h5>
                            <p class="role text-center">{% t about.team_carrier_ethan %}</p>
                            <div class="content-hover ">
                                <div class="arrow_box">{% t about.team_content_ethan %}</div>
                            </div>
                            <a class="text-center icon-social" target="_blank" href="https://weibo.cn/cyh360"><i class="fa fa-weibo" aria-hidden="true"></i></a>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12  list text-center parent-hover member-item">
                            <a class="block-hover"><img alt="juan" src="{{ site.url }}/assets/images/juan.png" /> </a>
                            <h5 class="text-center">CapitanArt</h5>
                            <p class="role text-center">{% t about.team_carrier_capitanArt %}</p>
                            <div class="content-hover ">
                                <div class="arrow_box">{% t about.team_content_capitanArt %}</div>
                            </div>
                            <a class="text-center icon-social" target="_blank" href="https://www.linkedin.com/in/juanantonio-capitan/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                        
                        

                        <div class="col-md-4 col-sm-4 col-xs-12  list text-center parent-hover member-item">
                            <a class="block-hover"><img alt="juan" src="{{ site.url }}/assets/images/fran.png" /> </a>
                            <h5 class="text-center">Fran de la Torre</h5>
                            <p class="role text-center">{% t about.team_carrier_fran %}</p>
                            <div class="content-hover ">
                                <div class="arrow_box">{% t about.team_content_fran %}</div>
                            </div>
                            <a class="text-center icon-social" target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>

                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- dont-skew-wrap -->
</div>
{% include networks.html %}
</div>
