<div class="main-wrapper">
  <div class="sticky-logo sticky-front">
    <p><img src="{{site.url}}/assets/images/bg/agoras_logo.png" alt=""></p>
  </div><!-- sticky-logo -->

  <div class="keyart" id="parallax">
    <div class="keyart_layer parallax" id="keyart-agoras-1" data-speed="0" style="transform: translate3d(0px, 0px, 0px)">
    </div><!-- 00.0 -->
    <div class="keyart_layer parallax" id="keyart-agoras-2" data-direct="right" data-speed="15"></div>
    <div class="keyart_layer parallax" id="keyart-agoras-3" data-direct="right" data-speed="20"></div>
    <div class="keyart_layer parallax" id="keyart-agoras-4" data-direct="right" data-speed="35"></div>
    <div class="keyart_layer parallax" id="keyart-agoras-5" data-direct="right" data-speed="30"></div>
    <div class="keyart_layer parallax" id="keyart-agoras-6" data-direct="right" data-speed="55"></div><!-- 12.5 -->

    <div class="keyart_layer" id="keyart-agoras-7" data-speed="35" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 37.5 -->
    <div class="keyart_layer parallax" id="keyart-agoras-8" data-speed="0" style="transform: translate3d(0px, 0px, 0px)"></div>
      <div class="keyart_layer parallax" id="keyart-agoras-9" data-speed="3" style="transform: translate3d(0px, 0px, 0px)"></div>
  </div>

   <div id="background-mobile-agoras"></div>
  <div id="wrapper-content">
    <div class="background-wave"></div>
    <div class="background-home bg-agoras">
    <div class="content-about">
      <div class="container">
        <div class="wrap-logo-sticky">
          <div class="sticky-logo sticky-back">
            <p><img src="{{site.url}}/assets/images/bg/agoras_logo.png" alt=""></p>
          </div><!-- sticky-logo -->
          <div class="sticky-content">
            <h2 class="title-h2">
              {% t agoras.what_is_agoras %}
            </h2>
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <p>
                 {% t agoras.content_what_is_agoras %}
                </p>
              </div>
            </div>
          </div><!-- sticky-content -->
        </div><!-- wrap-logo-sticky -->
      </div>
    </div>
    </div>
    <div id="features">
      <div class="dont-skew">
        <div class="container">
          <div class="content">
            <h3 class="text-center title-h3">
              {% t agoras.main_features %}
            </h3>
            <ul class="list-feature">
              <li class="col-md-4 col-sm-6 item-equal-height">
                <!--wave center-->
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-economy-v2.png"
                  alt="icon-economy" />
                </div>
                <h5 class="text-center h5-title">
                  Knowledge Economy
                </h5>
                <p class="text-center fdescription">
                  With all facilities to create a fully featured
                  economy, including production, shipment, pricing,
                  supply, demand, and arena.
                </p>
              </li>
              <li class="col-md-4 col-sm-6 item-equal-height">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-market.png" alt=
                  "icon-market" />
                </div>
                <h5 class="text-center h5-title">
                  Computational Resources Market
                </h5>
                <p class="text-center fdescription">
                  To be able to rent or rent out computational
                  resources.
                </p>
              </li>
              <li class="col-md-4 col-sm-6 item-equal-height">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-financial.png"
                  alt="icon-financial" />
                </div>
                <h5 class="text-center h5-title">
                  Advanced finaicials
                </h5>
                <p class="text-center fdescription">
                  Including for example the ability to obtain
                  risk-free interest without any creation of new
                  money.
                </p>
              </li>
              <li class="col-md-2 item-equal-height hidden-xs"></li>
              <li class="col-md-4 col-sm-6 item-equal-height">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon4.png" alt=
                  "icon-collaboration" />
                </div>
                <h5 class="text-center h5-title">
                  Vel maiorum reprehendunt ad
                </h5>
                <p class="text-center fdescription">
                  Cum maiorum voluptaria omittantur te. Qui
                  eligendi pericula ea, no primis graeci ius, id
                  mel utroque volumus .
                </p>
              </li>
              <li class="col-md-4 col-sm-6 item-equal-height">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon5.png" alt=
                  "icon-choice" />
                </div>
                <h5 class="text-center h5-title">
                  Dictas pertinax tractatos ex nam
                </h5>
                <p class="text-center fdescription">
                  Quem vocent sanctus sea ex. At quem augue virtute
                  eos, quo odio graeci accusamus ad, sit nihil
                  rationibus id.
                </p>
              </li>
              <li class="col-md-2 item-equal-height hidden-xs"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="roadmap" class="bg_white">
      <div class="dont-skew">
        <div class="content">
          <div class="container">
            <h3 class="title-h3 text-center marginBottom5">
             {% t agoras.cryptocurrency %}
            </h3>
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <p class="fdescription max-inherit text-center marginbttom50">
                  {% t agoras.content_cryptocurrency %}
                </p>
              </div>
            </div>
          </div>
          <div class="container">
            <h3 class="title-h3 text-center">
               {% t agoras.exchanges %}
            </h3>
            <p class="price text-center hidden">
              <a target="_blank" href="https://coinmarketcap.com/currencies/agoras-tokens/">$1.36/Agoras</a>
            </p>
            <ul class="list-price">
              <li class="bg1">
                <a target="_blank" href=
                    "https://openledger.io/market/OPEN.AGRS_BTS"><div class="parent-block">
                  <div class="child-block">
                   <img class="fimage float-left" src=
                  "{{site.url}}/assets/images/openledget.png" alt=
                  "openledget" />
                    <div class="float-left">
                      <span class="txt">Open Ledger</span>
                      <span class="text-link">openledger.io</span>
                    </div>
                    <span target="_blank" class="buy" ><i class="fa fa-angle-right hidden" aria-hidden="true"></i></span>
                  </div>
                </div>
                </a>
              </li>
              <li class="bg2">
                <a target="_blank" href=
                    "https://btc137.com/trade/btc/agrs"><div class="parent-block">
                  <div class="child-block">
                   <img class="fimage float-left" src=
                  "{{site.url}}/assets/images/btc.png" alt=
                  "btc" />
                    <div class="float-left">
                      <span class="txt">BTC137</span>
                      <span class="text-link">btc137.com</span>
                    </div>
                    <span target="_blank" class="buy" ><i class="fa fa-angle-right hidden" aria-hidden="true"></i></span>
                  </div>
                </div>
                </a>

                
              </li>
              <li class="bg3">
               <a target="_blank" href=
                    "https://www.omniwallet.org/dex/overview"><div class="parent-block">
                  <div class="child-block">
                   <img class="fimage float-left" src=
                  "{{site.url}}/assets/images/ommi.png" alt=
                  "omniwallet" />
                    <div class="float-left">
                      <span class="txt">Omni Dex</span>
                      <span class="text-link">omniwallet.org</span>
                    </div>
                    <span target="_blank" class="buy" ><i class="fa fa-angle-right hidden" aria-hidden="true"></i></span>
                  </div>
                </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>{% include networks.html %}
  </div>
</div>