<h2 class="text-center" id="h2-blog"> Official Articles</h2>   
<div class="col-md-9 none-padding">
<div class="row">
<div class="col-md-4 col-sm-4 col-xs-6">
    <ul  class="list-lang none">
        <li><a href="{{site.url}}/blog"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to the list</a> </li>
    </ul>
</div>
<div class="col-md-8 col-sm-6 col-xs-6">
    <ul  class="list-lang none width-list-100">
        <li><a href="{{site.url}}/blog/{{include.prevBlog}}"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous article</a> </li>
        <li><a href="{{site.url}}/blog/{{include.nextBlog}}"> Next article <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    </ul>   
</div>
</div>
</div>