 <div class="content container blog">
    <h2 class="text-center" id="h2-blog">Official Articles</h2>   
    <ul  class="list-lang">
        <li><a href="#">All Language</a> </li>
        <li><a href="#">English</a></li>
        <li> <a href="#">Chinese</a> </li>
    </ul>
    <div class="row">
        <div class="col-md-9">
            <ul class="list-blog">
                {% for blog in site.data.blogen %}
                    {% if blog.key == 'main' %}
                    <li>
                        <h3><a href="{{site.url}}/blog/{{blog.link}}">{{ blog.title }}</a></h3>
                        <span class="author">{{blog.author}}</span>
                        <span class="dot"></span>
                        <span class="date">{{blog.date}}</span>
                        <p class="blog-content">{{blog.content}}</p>
                    </li>
                    {% endif %}
                {% endfor %}  
            </ul>
        </div>
        <div class="col-md-3">
            {% include blog-archive.html %}
        </div>
    </div>
</div>