<div class="content container blog">
    <h2 class="text-center" id="h2-blog">Official Articles</h2>   
    <ul  class="list-lang">
        <li class="hidden"><a href="javasciprt:void(0)">All Language</a> </li>
        <li ><a href="{{site.url}}/blog">English</a></li>
        <!--href="{{site.url}}/cn/blog"-->
        <li><a href="{{site.url}}/cn/blog" >Chinese</a> </li>
        <!--{{site.url}}/es/blog-->
        <li><a href="{{site.url}}/es/blog">Spanish</a> </li>
        
    </ul>
    <div class="row">
        <div class="col-md-9">
            <ul class="list-blog">
                {% assign url = site.lang %}
                {% if site.lang == 'en' %}
                     {% assign url = null %}
                     {% assign data = site.data.blogen %}
                {% endif %}
                {% if site.lang == 'cn' %}
                     {% assign data = site.data.blogcn %}
                {% endif %}
                {% if site.lang == 'es' %}
                    {% assign data = site.data.bloges %}
                {% endif %}
                {% for blog in data %}
                    {% if blog.key == 'main' %}
                    <li>
                        <h3><a href="{{site.url}}/{{url}}/blog/{{blog.link}}">{{ blog.title }}</a></h3>
                        <span class="author">{{blog.author}}</span>
                        <span class="dot"></span>
                        <span class="date">{{blog.date}}</span>
                        <p class="blog-content">
                            {{blog.content}} 
                            <a href="{{site.url}}/{{url}}/blog/{{blog.link}}">{% t blog.read_more %}...</a>
                        </p>
                    </li>
                    {% endif %}
                {% endfor %}  
            </ul>
        </div>
        <div class="col-md-3">
            {% include blog-archive.html %}
        </div>
    </div>
</div>