        </main>
        <footer>
            <div id="footer-contact">
                <div class="container">
                    <div class="row">
                        {% assign url = site.lang %}
                        {% if site.lang == 'en' %}
                            {% assign url = null %}
                        {% endif %}
                         {% if site.lang == 'cn' %}
                            {% assign url = '/cn' %}
                        {% endif %}
                         {% if site.lang == 'es' %}
                            {% assign url = '/es' %}
                        {% endif %}
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <a href="{{site.url}}{{url}}"><img class="logo" alt="TAU-LOGO" src="{{site.url}}/assets/images/logo_header.svg" /></a>
                            <p class="support"><a href="mailto:contact@idni.org"><i class="fa fa-envelope" aria-hidden="true"></i><span>contact@idni.org</span></a></p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="row fmenu">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <a href="{{site.url}}{{url}}" >Tau</a>
                                    <!-- <a href="{{site.url}}/{{url}}" >Tau</a> --> 
                                    <!-- {{site.lang}} -->
                                    <a href="{{site.url}}{% translate_link agoras {{site.lang}} %}">Agoras</a>
                                </div>
                                  <div class="col-md-6 col-sm-6 col-xs-6">
                                    <!-- {{site.lang}} -->
                                    <a href="{{site.url}}{% translate_link about {{site.lang}} %}" >{% t menu.about %}</a>
                                    <a href="{{site.url}}{% translate_link faq {{site.lang}} %}" >{% t menu.blog %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="fmenu">
                                <!-- <li><i class="fa fa-envelope" aria-hidden="true"></i> support@idni.org</li> -->
                                <!--<li><i class="fa fa-map-marker" aria-hidden="true"></i>55674 Mittie Ranch, Kiehntown, WY 40928-2962</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i> support@idni.org</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> +12345 678 999</li>-->
                                <a download  href="{{site.url}}/assets/images/tau-download.png">{% t footer.download_logo_tau %}</a>
                                <a download  href="{{site.url}}/assets/images/agoras-download.png">{% t footer.download_logo_agoras %}</a>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="footer-color">
                <div class="parent-block">
                    <div class="child-block">
                        <span>Copyright © 2018 IDNI.   {% t footer.all_right %}.</span>
                        <span>|</span>
                        <!--<a href="{{site.url}}/TOS.pdf" target="_blank" >{% t term_condition.title %}</a>-->
                        <a href="{{site.url}}{% translate_link term {{site.lang}} %}" >{% t term_condition.title %}</a>
                        <span>|</span>
                        <a href="{{site.url}}{% translate_link notice {{site.lang}} %}" >{% t notice.link %}</a>

                    </div>
                </div>
            </div>
        </footer>
   
        {% if site.env  != 'production' %}
            <script src="{{site.url}}/assets/js/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
            <script src="{{site.url}}/assets/js/bootstrap.min.js"  crossorigin="anonymous"></script>
            <script src="{{site.url}}/assets/js/video.js"  crossorigin="anonymous"></script>
            <script src="{{site.url}}/assets/js/aos.js"  crossorigin="anonymous"></script>
            <script src="{{site.url}}/assets/js/smooth-scroll.js"  crossorigin="anonymous"></script>
            <script src="{{site.url}}/assets/js/jquery.matchHeight.js"  crossorigin="anonymous"></script>
            <script src="{{site.url}}/assets/js/main.js"  crossorigin="anonymous"></script>
            <!--<script src="http://localhost:8086/assets/js/app.bundle.js"  crossorigin="anonymous"></script>-->
        {% else %}
            <script src="{{site.url}}/assets/js/app.bundle.js"  crossorigin="anonymous"></script>
        {% endif %}
      
    </body>
</html>