        </main>
        <footer>
            <div id="footer-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="{{ site.url }}"><img class="logo" alt="TAU-LOGO" src="{{ site.url }}assets/images/logo.png" /></a>
                        </div>
                        <div class="col-md-4">
                            <div class="row fmenu">
                                <div class="col-md-6">
                                    <a href="{{ site.url }}">TAU</a>
                                    <a href="{{ site.url }}agoras">AGORAS</a>
                                </div>
                                  <div class="col-md-6">
                                    <a href="{{ site.url }}about">ABOUT</a>
                                     <a href="#">BLOG</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <ul class="list-in">
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>55674 Mittie Ranch, Kiehntown, WY 40928-2962</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i> support@idni.org</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> +12345 678 999</li>
                            </ul>
                        </div>
                      </div>
                </div>
            </div>
            <div class="footer-color">
                <div class="parent-block">
                    <div class="child-block">
                        <p>Copyright © 2018 IDNI.   All rights reserved.</p>
                    </div>
                </div>
            <div>
        </footer>
    </body>
    <script src="{{ site.url }}assets/js/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
    <script src="{{ site.url }}assets/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <script src="{{ site.url }}assets/js/video.js"  crossorigin="anonymous"></script>
    <script src="{{ site.url }}assets/js/main.js"  crossorigin="anonymous"></script>
</html>