<!DOCTYPE HTML>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
        <title>{{ DIR }}</title>
         <!---->
         <link rel="stylesheet" href="css/boostrap.min.css">
        <link rel="stylesheet" href="css/video.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
        <main>
            <header id="header" class="container-fluid">
                <div class="row header-background height-60">
                    <div class="container rma">
                        <div class="col-md-5 height-60">
                            <div class="parent-block">
                                <div class="child-block">
                                    <a href="/"><img id="logo" alt="TAU-LOGO" src="assets/images/logo.png" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <ul class="list-menu-desktop">
                                <li><a href="/" class="acitve">Tau</a></li> 
                                <li><a href="/agoras">Agoras</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="about">Blog</a></li>
                            </ul>
                            <div class="dropdown-lang">
                                <div class="dropdown">
                                        <a id="dLabel" data-target="my-dropdown-lang" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <img width="19" height="19" src="assets/images/global.png" alt="global-icon-lang" />
                                            <span class="title-lang-default">English</span>
                                            <span class="caret"></span>
                                        </a>
                                        <ul id="my-dropdown-lang" class="dropdown-menu" aria-labelledby="dLabel">
                                            <li><a href="#">English</a></li>
                                            <li><a href="#">Chinese</a></li>
                                        </ul>
                                </div>
                            </div>
                            <div class="git-icon">
                                <a target="_blank" href="https://github.com/IDNI/tau"><img src="/assets/images/git.png" alt="github-icon" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
    <body>
