<!DOCTYPE HTML>
<html lang="{{site.lang}}">
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
        <meta charset="utf-8">
        <title>Intelligent Decentralized Networks Initiatives - {{ page.title }}</title>
        <meta property="og:locale:alternate" content="{{site.lang}}" />
        <meta name="keywords" content="{{page.key_word}}">
        <link rel="shortcut icon" href="{{site.url}}/assets/images/favicon.ico">
     
        <meta name="twitter:card" content="{{page.card}}">
        <meta name="twitter:image" content="{{site.url}}/assets/images/cover/{{page.image_twitter}}">
        <meta name="twitter:site" content="@{{page.publisher_handle}}">
        <meta name="twitter:title" content="{{page.title}}">
        <meta name="twitter:description" content="{{page.description}}">
        <meta name="twitter:creator" content="@{{page.creator}}">

        <meta property="og:title"  content="{{page.title}}" />
        <meta property="og:url"  content="{{site.url}}" />
        <meta property="og:type"  content="{{page.type}}" />
        <meta property="og:image" content="{{site.url}}/assets/images/cover/{{page.image_facebook}}">
        <meta property="og:description"  content="{{page.description}}" /> 
        <meta property="og:site_name" content="{{site.url}}{{page.permalink}}" />
        <meta property="fb:admins"  content="10153563925707878" />
  
        <link rel="stylesheet" href="{{site.url}}/css/styles.css">

    </head>
    <body class="page-{{site.lang}}">
        <main id="{{page.nav}}" class="main-page">
            <header id="header" class="container-fluid">
                <div class="row header-background height-60">
                    <div class="container rma" id="navigation">
                        <div class="col-md-5 height-60">
                            <div class="parent-block">
                                {% assign url = site.lang %}
                                {% if site.lang == 'en' %}
                                    {% assign url = '' %}
                                    {% assign nameCN = 'Chinese' %}
                                    {% assign nameES = 'Spanish' %}
                                {% endif %}
                                {% if site.lang == 'cn' %}
                                    {% assign url = '/cn' %}
                                    {% assign nameCN = '中文 ' %}
                                    {% assign nameES = 'Spanish' %}
                                {% endif %}
                                {% if site.lang == 'es' %}
                                    {% assign url = '/es' %}
                                    {% assign nameCN = 'Chinese' %}
                                    {% assign nameES = 'Español' %}
                                {% endif %}
                                <div class="child-block">
                                    <a href="{{site.url}}{{url}}"><img id="logo" alt="TAU-LOGO" src="{{site.url}}/assets/images/logo_header.svg" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 nav-main">
                           {% include nav.html %}
                          
                            <div class="dropdown-lang">
                                <div class="dropdown">
                                        <a id="dLabel" data-target="my-dropdown-lang" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <span class="sprites-img flag-global "></span>
                                            {% if site.lang == 'en' %}
                                            <span class="title-lang-default">English</span>
                                             {% endif %}
                                             {% if site.lang == 'cn' %}
                                            <span class="title-lang-default">中文</span>
                                             {% endif %}
                                             {% if site.lang == 'es' %}
                                            <span class="title-lang-default">Español</span>
                                             {% endif %}
                                            <span class="caret"></span>
                                        </a>
                                        <ul id="my-dropdown-lang" class="dropdown-menu" aria-labelledby="dLabel">
                                            <li><a href="{{site.url}}">English</a></li>
                                            <li><a href="{{site.url}}/cn">中文</a></li>
                                            <li><a href="{{site.url}}/es">Español</a></li>
                                        </ul>
                                </div>
                            </div>
                            <div class="git-icon">
                             <a target="_blank" href="https://github.com/IDNI/tau"><span class="sprites-img git-i "></span></a>
                            </div>
                        </div>
                        <div id="lang-list">
                            <ul>
                                <li><a href="{{site.url}}"><span class="sprites-img flag-en "></span>English</a></li>
                                <li><a href="{{site.url}}/cn"><span class="sprites-img flag-cn "></span>中文</a></li>
                                <li><a href="{{site.url}}/es"><span class="sprites-img flag-es "></span>Español</a></li>
                            </ul>
                        </div>
                        <div id="menu-mobile-button">
                            <ul>
                                <li><a class="icon-git-nav none-lang" target="_blank" href="https://github.com/IDNI/tau"><span class="sprites-img git-i "></span></a></li>
                                <li><a id="menu-default-lang" class="icon-git-nav v-lang" target="_blank" href="javascript:void(0)">
                                    <img src="{{site.url}}/assets/images/{{site.lang}}.png" alt="{{site.lang}}" /><i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                                <li><a id="navigation-mobile" href="javascript:void(0)" class="icon-nav"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
    
