<div class="main-wrapper">
  <div class="sticky-logo sticky-front">
    <p><img src="{{site.url}}/assets/images/bg_tau/tau_logo.svg" alt=""></p>
  </div><!-- sticky-logo -->

  <div class="keyart" id="parallax">
    <div class="keyart_layer parallax" id="keyart-0" data-speed="0" style="transform: translate3d(0px, 0px, 0px)"></div>
     <div class="keyart_layer parallax" id="keyart-1b" data-direct="top" data-speed="3" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 00.0 -->
    <div class="keyart_layer parallax" id="keyart-1"  data-speed="5" style="transform: translate3d(0px, 0px, 0px)"></div>

    <div class="keyart_layer parallax" id="keyart-2"  data-speed="10" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 12.5 -->
    <div class="keyart_layer parallax" id="keyart-3" data-speed="15" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 37.5 -->
    <div class="keyart_layer parallax" id="keyart-4" data-speed="17" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 50.0 -->
    <div class="keyart_layer parallax" id="keyart-5" data-speed="22" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 62.5 -->
    <div class="keyart_layer parallax" id="keyart-6" data-speed="20" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 75.0 -->
    <div class="keyart_layer" id="keyart-scrim"></div>
    <div class="keyart_layer parallax" id="keyart-7" data-speed="25" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 87.5 -->
    <div class="keyart_layer parallax" id="keyart-8" data-speed="30" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 100. -->
    <div class="keyart_layer" id="keyart-9" data-speed="60" style="transform: translate3d(0px, 0px, 0px)"></div>

    <div class="parallax-end"></div>
  </div>
  <div id="background-mobile-home" class="height-bg-mobile"></div>
  <div id="wrapper-content">
    <div class="wrap-root">
    <div class="background-home">
      <div class="width-55">
        <div><img class="roots" src="{{site.url}}/assets/images/bg_tau/roots.svg" alt="root" /> </div>
      </div>
      <div id="section-download" class="hidden">
        <ul>
          <li>
            <a download="" href=
            "{{site.url}}/assets/images/documents/Whitepaper_TauChain_EN.pdf">
            <img src="{{site.url}}/assets/images/pdfbtn.png" alt=
            "download-document" /> <span>White paper
            (EN)</span></a>
          </li>
          <li>
            <a download="" href=
            "{{site.url}}/assets/images/documents/Whitepaper_TauChain_CN.pdf">
            <img src="{{site.url}}/assets/images/pdfbtn.png" alt=
            "download-document" /> <span>White paper
            (CN)</span></a>
          </li>
        </ul>
      </div><!-- section-download -->

      <div class="content-about">
        <div class="container">
          <div class="wrap-logo-sticky" id="tau-chain">
            <div class="sticky-logo sticky-back">
              <p><img src="{{site.url}}/assets/images/bg_tau/tau_logo.svg" alt=""></p>
            </div><!-- sticky-logo -->
            <div class="sticky-content">
              <h2 class="title-h2">
               {% t tau.what_is_tau_chain %}
              </h2>
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                  <p>
                   {% t tau.content_what_is_tau_chain %}
                  </p>  
                </div>
              </div>
            </div><!-- sticky-content -->
          </div><!-- wrap-logo-sticky -->
        </div>
      </div><!-- content-about -->
    </div><!-- background-home -->
    </div>

    <div id="features">
      <div class="dont-skew">
        <div class="container">
          <div class="content">
            <h3 class="text-center title-h3">
              {% t tau.tau_feature %}
            </h3>
            <ul class="list-feature">
              <li class="col-md-4 col-sm-6 col-xs-12 item-equal-height">
                <!--wave center-->
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-language.png"
                  alt="icon-language" />
                </div>
                <h5 class="text-center h5-title">
                    {% t tau.feature_lang_title %}
                </h5>
                <p class="text-center fdescription">
                 {% t tau.feature_lang_content %}
                </p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-12 item-equal-height">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-knowledge.png"
                  alt="icon-knowledge" />
                </div>
                <h5 class="text-center h5-title">
                  {% t tau.feature_knowledge_title %}
                </h5>
                <p class="text-center fdescription">
                  {% t tau.feature_knowledge_content %}
                </p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-12 item-equal-height margin-top-45">
                <div class="text-center this-is-wave-center">
                  <a href="{{site.url}}/agoras "><img class="fimage" src=
                  "{{site.url}}/assets/images/icon-economy.png"
                  alt="icon-economy" /></a>
                </div>
                <h5 class="text-center h5-title">
                  {% t tau.feature_economy_title %}
                </h5>
                <p class="text-center fdescription">
                  {% t tau.feature_economy_content %}<br />
                  <a class="read-more" href="{{site.url}}/agoras">Read more</a>
                </p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-12 item-equal-height">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-discuss.png"
                  alt="icon-discuss" />
                </div>
                <h5 class="text-center h5-title">
                    {% t tau.feature_discussion_title %}
                </h5>
                <p class="text-center fdescription">
                   {% t tau.feature_discussion_content %}
                </p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-12 item-equal-height margin-top-45">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-collaboration.png"
                  alt="icon-collaboration" />
                </div>
                <h5 class="text-center h5-title">
                   {% t tau.feature_collaboration_title %}
                </h5>
                <p class="text-center fdescription">
                  {% t tau.feature_collaboration_content %}
                </p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-12 item-equal-height">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-choice.png" alt=
                  "icon-choice" />
                </div>
                <h5 class="text-center h5-title">
                    {% t tau.feature_choice_title %}
                </h5>
                <p class="text-center fdescription">
                  {% t tau.feature_choice_content %}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="network">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 paddingTop">
              <h3 class="title-h3">
                 {% t tau.only_dynamic %}
              </h3>
              <p class="fdescription line-26">
              {% t tau.content_only_dynamic %}
              </p>
            </div>
            <div class="col-md-6">
              <div id="tau-video">
                  <video id="my-video" class="video-js" controls preload="auto" width="342" height="604"
                      poster="{{site.url}}/assets/images/thumbnail-video.png" 
                      data-setup="{}">
                      <source src="{{site.url}}/assets/images/media/tau-video.mp4" type='video/mp4'>
                      <source src="{{site.url}}/assets/images/media/tau-video.webm" type='video/webm'>
                      <p class="vjs-no-js">
                      To view this video please enable JavaScript, and consider upgrading to a web browser that
                      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                      </p>
                  </video>
              </div>
              <p class="description-video">
                   {% t tau.content_video %}
               </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="roadmap">
      <div class="dont-skew-wrap">
        <div class="dont-skew">
          <!-- <div data-aos="fade-left" data-aos-delay="900"  data-aos-offset="1000"  data-aos-anchor="#tau-video">
            <div class="over-flow">
                <img class="root-left" src="{{site.url}}/assets/images/roots-left.png" />
                <img class="arrow-1 arrowf" src="{{site.url}}/assets/images/arrow2.png" /> 
                <img class="arrow-2 arrowf" src="{{site.url}}/assets/images/arrow1.png" />
            </div>
          </div> -->
          <div class="content">
            <div class="container">
              <h3 class="title-h3 text-center">
                 {% t tau.the_road_map %}
              </h3>
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                  <p class="fdescription max-inherit text-center marginbttom80">
                   {% t tau.content_the_road_map %}
                  </p>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="time-line">
                <div class="row time-line-list">
                  <div class="col-sm-6 time-line-item">
                    <div class="content-lines grp-2 text-right">
                      <span class="timer"> {% t tau.roadmap_date_alpha %}</span>
                      <h5>
                         {% t tau.roadmap_title_alpha %}
                        <span class="point-time"><span class="point"><em>&nbsp;</em></span></span>
                      </h5>
                      <p>
                       {% t tau.roadmap_content_alpha %}
                      </p>
                    </div><!-- content-lines -->

                    <div class="content-lines grp-4 text-right">
                      <span class="timer">{% t tau.roadmap_date_tau_chain %}</span>
                      <h5>
                        {% t tau.roadmap_title_tau_chain %}
                        <span class="point-time"><span class="point"><em>&nbsp;</em></span></span>
                      </h5>
                      <p>
                       {% t tau.roadmap_content_tau_chain %}
                      </p>
                    </div><!-- content-lines -->
                    <div class="content-lines grp-6 text-right">
                      <span class="timer">{% t tau.roadmap_date_6 %}</span>
                      <h5>
                        {% t tau.roadmap_title_6 %}
                        <span class="point-time"><span class="point"><em>&nbsp;</em></span></span>
                      </h5>
                      <p>
                       {% t tau.roadmap_content_6%}
                      </p>
                    </div><!-- content-lines -->
                     <div class="content-lines grp-8 text-right">
                      <span class="timer">{% t tau.roadmap_date_8 %}</span>
                      <h5>
                        {% t tau.roadmap_title_8 %}
                        <span class="point-time"><span class="point"><em>&nbsp;</em></span></span>
                      </h5>
                      <p>
                       {% t tau.roadmap_content_8 %}
                      </p>
                    </div><!-- content-lines -->
                  </div><!-- time-line-item -->

                  <div class="col-sm-6 time-line-item">
                    <div class="content-lines grp-1">
                      <span class="timer"> {% t tau.roadmap_date_tau_meta %}</span>
                      <h5>
                       {% t tau.roadmap_title_tau_meta %}
                        <span class="point-time"><span class="point"><em>&nbsp;</em></span></span>
                      </h5>
                      <p>
                        {% t tau.roadmap_content_tau_meta %}
                      </p>
                    </div><!-- content-lines -->

                    <div class="content-lines grp-3">
                      <span class="timer">{% t tau.roadmap_date_beta %}</span>
                      <h5>
                       {% t tau.roadmap_title_beta %}
                        <span class="point-time"><span class="point"><em>&nbsp;</em></span></span>
                      </h5>
                      <p>
                      {% t tau.roadmap_content_beta %}
                      </p>
                    </div><!-- content-lines -->

                    <div class="content-lines grp-5">
                      <span class="timer">{% t tau.roadmap_date_agoras %}</span>
                      <h5>
                        {% t tau.roadmap_title_agoras %}
                        <span class="point-time"><span class="point"><em>&nbsp;</em></span></span>
                      </h5>
                      <p>
                      {% t tau.roadmap_content_agoras %}
                      </p>
                    </div><!-- content-lines -->

                    <div class="content-lines grp-7">
                      <span class="timer">{% t tau.roadmap_date_7 %}</span>
                      <h5>
                        {% t tau.roadmap_title_7 %}
                        <span class="point-time"><span class="point"><em>&nbsp;</em></span></span>
                      </h5>
                      <p>
                      {% t tau.roadmap_content_7 %}
                      </p>
                    </div><!-- content-lines -->
                    
                  </div>
                </div><!-- time-line-item -->
              </div><!-- time-line -->

              <!-- <div class="col-md-5">
                <div class="content-lines grp-2 text-right">
                  <span class="timer">January 2019</span>
                  <h5>
                    Alpha Version Launched
                  </h5>
                  <p>
                    Alpha is a social platform that allows efficient
                    discussions even among very large numbers of
                    participants. Today, an effective conversation
                    cannot be held with too many people; However,
                    Alpha will be able to scale discussions and
                    detect logical points of consensus between users
                    and allow users to explore the opinion map raised
                    in the discussion, thus enabling better knowledge
                    sharing and construction.
                  </p>
                </div>
                <div class="content-lines grp-4 text-right">
                  <span class="timer">November 2019</span>
                  <h5>
                    Tau-Chain
                  </h5>
                  <p>
                    Tau is applying all previous stages to itself.
                    Tau is about perpetual collaborative development
                    of itself based on users’ agreements. It will do
                    so as a decentralized and blockchain-based p2p
                    network.
                  </p>
                </div>
                <div class="content-lines grp-6 text-right">
                  <span class="timer">020 Jan 2020</span>
                  <h5>
                    What is Lorem Ipsum?
                  </h5>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the
                    1500s
                  </p>
                </div>
                <div class="content-lines grp-8 text-right">
                  <span class="timer">15 Jan 2020</span>
                  <h5>
                    Where does it come from?
                  </h5>
                  <p>
                    Contrary to popular belief, Lorem Ipsum is not
                    simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC
                  </p>
                </div>
              </div>
              <div class="col-md-1">
                <div class="lines">
                  <div class="sonar-0 sam-1">
                    <div class="sonar-1">
                      <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                          <div class="sonar-wave"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sonar-0 sam-2">
                    <div class="sonar-1">
                      <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                          <div class="sonar-wave"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sonar-0 sam-3">
                    <div class="sonar-1">
                      <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                          <div class="sonar-wave"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sonar-0 sam-4">
                    <div class="sonar-1">
                      <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                          <div class="sonar-wave"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sonar-0 sam-5">
                    <div class="sonar-1">
                      <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                          <div class="sonar-wave"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sonar-0 sam-6">
                    <div class="sonar-1">
                      <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                          <div class="sonar-wave"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sonar-0 sam-7">
                    <div class="sonar-1">
                      <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                          <div class="sonar-wave"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sonar-0 sam-8">
                    <div class="sonar-1">
                      <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                          <div class="sonar-wave"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="content-lines grp-1">
                  <span class="timer">Agust 2018</span>
                  <h5>
                    TAU Meta Language (TML)
                  </h5>
                  <p>
                    We will start by developing a metalanguage (TML)
                    as a tool to define new languages such that they
                    all translate to each other. This will form the
                    "Internet of Languages".
                  </p>
                </div>
                <div class="content-lines grp-3">
                  <span class="timer">July 2019</span>
                  <h5>
                    Beta Version Lauched
                  </h5>
                  <p>
                    Beta will advance Alpha by allowing users to
                    discuss code requirements and then automatically
                    synthesized a correct-by-construction code.
                  </p>
                </div>
                <div class="content-lines grp-5">
                  <span class="timer">01 Jan 2020</span>
                  <h5>
                    Agoras
                  </h5>
                  <p>
                    A fully featured knowledge economy allowing
                    knowledge-case transactions, computational
                    resources market, and advanced financials..
                  </p>
                </div>
                <div class="content-lines grp-7">
                  <span class="timer">10 Jan 2020</span>
                  <h5>
                    Where can I get some?
                  </h5>
                  <p>
                    There are many variations of passages of Lorem
                    Ipsum available, but the majority have suffered
                    alteration in some form
                  </p>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>{% include networks.html %}
  </div>
</div>