<div id="join-our">
            <div id="light-bg"><img src="/assets/images/light.png" /></div>
            <div class="content">
                <div class="container">
                    <h3 class="title-h3 text-center margin-20">Join Our Social Networks</h3>
                    <ul>
                        <li>
                            <a target="_blank" href="https://t.me/tauchain">
                                <div class="parent-block">
                                    <div class="child-block">
                                        <img src="/assets/images/telegram.png" />
                                        <span>Telegram</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.reddit.com/r/tauchain/">
                                <div class="parent-block">
                                    <div class="child-block">
                                        <img src="/assets/images/reddit.png" />
                                        <span>Reddit</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/IDNI/tau">
                                <div class="parent-block">
                                    <div class="child-block">
                                        <img src="/assets/images/icon-git.png" />
                                        <span>GitHub</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://bitcointalk.org/index.php?topic=950309.0">
                                <div class="parent-block">
                                    <div class="child-block">
                                        <img src="/assets/images/bitcoin.png" />
                                        <span>Bitcoin Talk</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5DkwnOX">
                                <div class="parent-block">
                                    <div class="child-block">
                                        <img src="/assets/images/qq.png" />
                                        <span>QQ</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/tauchain">
                                <div class="parent-block">
                                    <div class="child-block">
                                        <img src="/assets/images/tw.png" />
                                        <span>Twitter</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="blog">
                                <div class="parent-block">
                                    <div class="child-block">
                                        <img src="/assets/images/blog.png" />
                                        <span>Blog</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>